{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<div class="container"> <div class="row"> <div class="col-12">
    <h1>Страница о нас</h1>
</div>
</div>
</div>

<div class="container"> <div class="row"> <div class="col-12">
    <h1>На нашем сайте для вас представлен функционал создания карточек , изменения и удаления карточек с целями</h1>
    <h2>Основным преимуществом является возможность проставлять тэг , чтобы видеть прогресс в выполнении</h2>
    <h2>Все является абсолютно бесплатным, пользуйтесь!</h2>
</div>
</div>
</div>
{% endblock %}