{% extends 'main/base.html' %}

{% block title %}
    Tag update - {{ block.super }}
{% endblock %}


{% block content %}

    <form action="{% url 'book_update_url' slug=book.slug %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form.group" >
                {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
                {% endif %}
                <div class="col-auto">
                    <p style="width : 400px">
                {{ field.label }}
                {{ field }}
                    </p>
                </div>
            </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary" >Изменить карточку книги</button>
    </form>

{% endblock %}